<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <div class="logo">🔐</div>

    <h1>Create Account</h1>
    <p class="subtitle">Create your secure account</p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">

        <label>Username</label>
        <input type="text" name="username" placeholder="Enter username" required>

        <label>Email</label>
        <input type="email" name="email" placeholder="Enter email" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password" required>

        <small>
            Password must be 8+ characters with uppercase, lowercase and number.
        </small>

        <button type="submit">Create Account</button>

    </form>

    <p class="bottom-text">
        Already have an account?
        <a href="{{ url_for('login') }}">Login</a>
    </p>

</div>

</body>
</html>
